#pagemain{
    color: chocolate;

}
 .para{
       color: #e50bab;
      

    text-decoration: underline;
}


 .para{
       color: #e50bab;
      }
    .box{
        height: auto;
        width: auto;
       border: 15px solid black;
       border-radius: 40px;
       padding: 50px;
       margin: 5px 10px 15px 20px;
       font-size: 20px; 
       font-weight: 600;  
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       font-style: oblique;
       background-image: url(./zebras-9983175_1280.webp);
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
      
    } 
    .box:hover{
        background-color: rgba(255, 255, 255, 0.5);
         box-shadow:10px 10px 5px  rgb(4, 201, 73) ;
    }
    img{
        border: 10px solid black;
        border-radius: 20px;
        filter: drop-shadow(15px 15px 15px green);
        box-shadow: 5px 5px 5px  rgb(255, 0, 0);
        margin: 10px;
    }
  main{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    height: 400px;
    width: 800px;
    border: 5px solid black;
    border-radius: 30px;
    background-color: rgba(4, 75, 180, 0.5);
    animation-name: mainanimation;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;

  }
  @media(max-width:640px)
{
    main{
        display: block;
    }
}
  @keyframes mainanimation{
    0%{background-color: rgba(4, 75, 180, 0.5);}
    25%{background-color: rgba(75, 180, 4, 0.5);}
    50%{background-color: rgba(180, 75, 4, 0.5);}
    75%{background-color: rgba(180, 4, 75, 0.5);}
    100%{background-color: rgba(4, 75, 180, 0.5);}
  }
  div{
    margin: auto;
    font-size: 30px;
    font-weight: 700;
    height: auto;
    width: auto;
    border: 3px solid rgb(224, 217, 217);
    color: rgb(25, 93, 87);
    background-color: seagreen;
  }
